{% extends 'base.html' %}
{% block content %}

<h1>Customer Records:</h1>

<div class="card">
  <div class="card-header">
    <strong>
    {{ customer_record.first_name }}
    {{ customer_record.last_name }}
  </strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <strong>ID:</strong>{{ customer_record.id }}<br/>
      <strong>Created At:</strong>{{ customer_record.created_at }}<br/>
      <strong>Email:</strong>{{ customer_record.email }}<br/>
      <strong>Phone No.:</strong>{{ customer_record.phone }}<br/>
      <strong>Address:</strong>{{ customer_record.Address }}<br/>
      <strong>City:</strong>{{ customer_record.city }}<br/>
      <strong>State:</strong>{{ customer_record.state }}<br/>
      <strong>Zipcode:</strong>{{ customer_record.zipcode }}<br/>
    </h5>

  </div>
</div>

<br/>
<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-light">Update</a>

  
{% endblock %}