{% extends 'base.html' %}
{% block content %}

<h1>Customer Records:</h1>

<div class="card">
  <div class="card-header">
    <strong>
    {{ staff_record.first_name }}
    {{ staff_record.last_name }}
  </strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">
      <strong>ID:</strong>{{ staff_record.id }}<br/>
      <strong>Created At:</strong>{{ staff_record.created_at }}<br/>
      <strong>Email:</strong>{{ staff_record.email }}<br/>
      <strong>Phone No.:</strong>{{ staff_record.phone }}<br/>
      <strong>Address:</strong>{{ staff_record.full_address }}<br/>
      <strong>Doctor_id:</strong>{{ staff_record.doctor_id }}<br/>
      <strong>Staff_id:</strong>{{ staff_record.staff_id }}<br/>
      <strong>Specialization:</strong>{{ staff_record.specialization }}<br/>

      <strong>Birth_Date:</strong>{{ staff_record.birth_date }}<br/>
      <strong>Gender:</strong>{{ staff_record.gender }}<br/>
      <strong>sector:</strong>{{ staff_record.sector }}<br/>
      <strong>Job_title:</strong>{{ staff_record.job_title }}<br/>

    </h5>

  </div>
</div>

<br/>
<br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Go Back</a>
<a href="{% url 'delete_record' staff_record.id %}" class="btn btn-danger">Delete</a>
<a href="{% url 'update_record' staff_record.id %}" class="btn btn-light">Update</a>

  
{% endblock %}